<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="workspaceId" value="059f037c-1b3b-42b1-bb90-e340e8c3142c"/>
		<add key="sharedKey" value="Get workspace primary key"/>
		<add key="clientId" value="0b013e62-ed07-4bb0-a899-d6ead7c696ed"/>
		<add key="clientSecret" value="Get client secret"/>
		<add key="domain" value="microsoft.com"/>
		<add key="sampleDataPath" value="c:\test\data"/>
	</appSettings>
</configuration>